*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
.nav1{
    background-color:  #003333;
    height: 50px;
}
.btn-signin {
    margin-top: -5px;
    background-color: #003333;
    border: 1px solid white;
    border-radius: 25px;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
    }
    .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    }
.nav-link{
    color: black;
}
header{
    padding: 80px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 100px;
}

nav{
    display: flex;
    background-color: gray;
    /* overflow: hidden; */
}
nav a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    float: left;
}
.flex-align-right{
    margin-left: auto;
}
.outer-grid {
    width: 80%;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
 }
 .inner-grid {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
 }
 .inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
 }
 .container-box{
    /* border: 1px solid rgb(225, 225, 225); */
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 16px;
 }
 .container-box2{
    padding-left: 10px;
    font-size: 20px;
 }
 .container-box3{
   background: linear-gradient(273.09deg, #068181 -11.03%, #00B9B9 100%);
    margin: 20px auto;
    width: 96%;
    height: 64px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 4px 8px 16px rgba(1, 55, 12, 0.25), inset -8px -8px 12px rgba(1, 55, 12, 0.4), inset 4px 4px 24px rgba(249, 246, 236, 0.25);
    border-radius: 8px;
    border: 1px solid #00B9B9;
 }
 .old-price{
    font-size: 18px;
    color: red;
    text-decoration: line-through;
 }
 .image-container{
    position:relative;
  }
  .image-container img{
    object-fit:cover;
  }
  .image-label{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    position:absolute;
    top:50;
    right:40;
    transform:translate(50%,-50%);
  }

 @media screen and (max-width: 1200px) {
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
 }
